absl-py
astunparse
attrs
certifi
charset-normalizer
contourpy
cycler
dm-tree
docstring_parser
einops
etils
filelock
flatbuffers
fonttools
fsspec
gast
git-filter-repo
google-pasta
googleapis-common-protos
grpcio
h5py
idna
imageio
immutabledict
importlib_resources
Jinja2
keras
kiwisolver
lazy_loader
libclang
lightning-utilities
lpips
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml_dtypes
mpmath
namex
networkx
numpy
opt_einsum
optree
packaging
pillow
promise
protobuf
psutil
pyarrow
Pygments
pyparsing
python-dateutil
requests
rich
scikit-image
scipy
simple-parsing
six
sympy
tensorboard
tensorboard-data-server
tensorflow-addons
tensorflow-datasets
tensorflow-io-gcs-filesystem
tensorflow-macos
tensorflow-metadata
tensorflow-metal
termcolor
tifffile
toml
tqdm
typeguard
typing_extensions
urllib3
Werkzeug
wrapt
zipp